body {background-color:white;
    font-family: "Times New Roman", Times, serif; }





header {background-color: lightskyblue;}

h1{color:white;}

nav > ul {line-height: 1em;
         list-style-type: none;
        padding-left:0px;}

section {background-color: lightpink;
        width:80%;
         font-size: 1.2em;}

footer {background-color: lightskyblue;}




